*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    /* --background-color:linear-gradient(36deg,rgb(94, 94, 94),rgb(0, 0, 0)); */
    --background-color:black;
    --font-color:#fff;
    --main-color:aqua;
    --red-background-color:red;
    --green-background-color:green;
    --blue-background-color:blue;
}

body
{
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}



.homepage
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2.5rem;
    width: 80vw; 
    background: var(--background-color);
    color: var(--font-color);
    min-height: 90vh;
    overflow: hidden;
    box-shadow: inset 0px 0px 20px aqua;
}
.colorSection
{
    margin-top: -5rem;
    position: relative;
}


img
{
    z-index: 1;
    position: absolute;
    filter: blur(10px);
    opacity: .8;
    z-index: 1;
}

.homepage .heading
{
    margin-top: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0px 0px 10px var(--main-color),
                 0px 0px 20px var(--main-color), 
                 0px 0px 40px var(--main-color), 
                 0px 0px 60px var(--main-color);
}

.heading h1
{
    font-size:3rem;
}
.heading h2
{
    display: flex;
    justify-content: center;
}


/* ************ btn section start ********************/

.btn
{
    display: flex;
    justify-content: left;
    gap: 1rem;
    /* border:  2px solid red; */
    align-items: center;
    margin-top: 5rem;  
}


.btn button
{
    border-radius:8px;
    cursor:pointer;
    z-index: 3;
    padding: 1rem;
    font-size: 1rem;
    transition: .2s;
    height: auto;
    width: auto;
}

button:hover
{ 
    border: 1px solid var(--main-color);
    background: var(--main-color);
    box-shadow: 2px 2px 20px var(--main-color),
                2px 2px 20px var(--main-color),
                2px 2px 40px var(--green-background-color);
    margin-bottom: 1rem;   
    font-size: 1.3rem;     
}

/* ************ btn section end ********************/
 

.content
{
    /* height: 60vh; */
    position: absolute;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 1rem;
    border: 1px solid var(--font-color);
    box-shadow: 0px 0px 20px var(--main-color);
    z-index: 2;
    margin-top: 2rem;
}

.content .title
{
    /* padding-top: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;   
    margin-top: 3rem;   
    z-index: 3; 
}

.color-picker-section
{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    z-index: 3;
}

.color-indicator
{
    background: #ffffff;
    height: 200px;
    width: 200px;
    z-index: 3;
}

#ColorCode
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--font-color);
    height: 3rem;
    width: 10rem;
    font-size:1.5rem;
    z-index: 3;
    box-shadow: 0rem 0rem 1rem var(--main-color);
}

#hexvalue
{
    display: none;
}

/******* Rgb section  *********************/

#hexvalue2
{
    /* display: none; */
    position: relative;
}

.rgb
{
    z-index: 8;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 1rem;
}

.rgbcolorsection
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 8;
    width: 100vh;
}

.colorchoosing
{

    /* border: 2px solid red; */
    height: 10rem;
    display: flex;
    flex-direction: column;
    gap: .9rem;
    margin-top:-9rem;
    margin-left: -3rem;
    word-spacing: 80%;
    width: 35%;
    font-size: 1.2rem;
}

input[type= "range"]
{
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
    border-radius: 50px;
    outline: none;
}

input[type= "range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    height: 1.2rem;
    width: 1.2rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}


.colorchoosing #red
{
    background-color: var(--red-background-color);
    box-shadow: 0rem 0rem 1rem var(--red-background-color);
}

.colorchoosing #green
{
    background-color: var(--green-background-color);
    box-shadow: 0rem 0rem 1rem var(--green-background-color);
}

.colorchoosing #blue
{
    background-color: var(--blue-background-color);
    box-shadow: 0rem 0rem 1rem var(--blue-background-color);
}

.rgbcolor-indicator
{
    background: #ffffff;
    height: 200px;
    width: 200px;
    z-index: 3;
}

#rgbColorCode 
{
  width:12rem;
  padding: 1rem;
  box-shadow: 0rem 0rem 1rem var(--main-color);
  border: 1px solid var(--font-color);
  font-size: 1.4rem;
}



/******* Gradient Section   *************************/

#hexvalue3
{
    display: none;
}


/***********************  respossive section  ***************/

@media(max-width:1325px)
{
    .btn
    {
        display: flex;
        justify-content: center;
    }

    .title
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .color-picker-section
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .rgb
    {
        z-index: 8;
        display: flex;
        /* justify-content: center;
        flex-direction: column; */
    }
    
    .colorchoosing
    {
        margin-left: 2rem;
    }

    .rgbcolor-indicator
    {
        margin-right: -28rem;
        margin-top: -3rem;
    }

    #rgbColorCode
    {
        margin-top: 17rem;
        margin-left: -7rem;
        margin-right: 15rem;
        display: flex;
    }
    
}

@media(max-width:1050px)
{
    .hexvalue2
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .colorchoosing
    {
        margin-left: 0rem;
    }

    .rgbcolor-indicator
    {
        margin-right: -28rem;
        margin-top: -3rem;
    }

    #rgbColorCode
    {
        margin-top: 18rem;
        margin-left: 0rem;
        margin-right: 11.5rem;
        display: flex;
    }
    
}


@media(max-width:940px)
{
    .rgbcolorsection
    {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .colorchoosing
    {
        margin-left: 0rem;
    }
    
    .colorchoosing h2
    {
        visibility: hidden;
    }

    .rgbcolor-indicator
    {
        margin-right: 0rem;
        margin-top: 5rem;
    }

    #rgbColorCode
    {
        margin-top: 0rem;
        margin-left: 0rem;
        margin-right: 0rem;
        display: flex;
    }
    
} 


/* to do 
rgb choose toolbar maintain */



