*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --background-color:linear-gradient(36deg,rgb(94, 94, 94),rgb(0, 0, 0));
    --font-color:#fff;
    --border-color:aqua;
}


.homepage
{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%; 
    background: var(--background-color);
    color: var(--font-color);
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.homepage .heading
{
    margin-left: 5rem; 
}

.heading h1
{
    font-size:3rem;
}

h2
{
    font-size: 1.5rem; 
}

/* ************ btn section ********************/
.btn
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: 3rem;
    width: 6rem;
    position: fixed;
    margin-left: 25rem;
}


.btn button
{
    border: 1px solid aqua;
    border-radius:8px;
    cursor:pointer;
}
 

.content
{
    border: 2px solid aqua;
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 7rem; 
    padding-top: 2rem;
    /* display: none; */
}

.content .title
{
    /* padding-top: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;   
    margin-top: 5rem;
}

.color-picker-section
{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.color-indicator
{
    background: #ffffff;
    height: 200px;
    width: 200px;
}

p
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid aqua;
    height: 3rem;
    width: 10rem;
    font-size:1.5rem;
}

/******* Rgb section  *********************/
#hexvalue2
{
    display: none;
}


/******* Gradient Section   *************************/

#hexvalue3
{
    display: none;
}


